/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  line-height: 1.6;
  background: #ffffff;
  color: #ffffff;
}

/* barra de navegacion */
.navbar {
  background: rgba(0, 0, 0, 0.95);
  backdrop-filter: blur(10px);
  padding: 1.2rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #000000;
}

.logo {
  color: #ffffffd0;               
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.nav-menu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
  transition: all 0.3s ease;
  position: relative;
}

.nav-menu a:hover {
  background: #e10600;
  color: rgb(0, 0, 0);
  transform: translateY(-3px);
}

/* LOGO EN EL MENÚ */
.logo img {
  height: 45px;              
  width: auto;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.1);
}

.navbar {
  align-items: center;
}

/* TEXTO DE BIENVENIDA */
.welcome-text {
  padding: 100px 5% 120px;
  text-align: center;
  background: linear-gradient(135deg, #000000, #750707);
  color: #ffffff;
}

.welcome-contenedor {
  max-width: 900px;
  margin: 0 auto;
}

.welcome-text h2 {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 35px;
}

.welcome-text p {
  font-size: 1.3rem;
  line-height: 1.8;
  margin-bottom: 25px;
  color: #ffffff;
}

.welcome-text p:last-child {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 600;
}


/* ==================== GALERÍA F1 ==================== */

/* Fondo de la galería */
.galeria {
  margin-top: 0px;
  padding: 80px 5%;
  text-align: center;
  background: url('imagenes/fondo/fondo.png') center/cover no-repeat fixed;
}

/* Título  */
.galeria h2 {
  font-size: 3rem;
  margin-bottom: 60px;
  color: #ffffff;
  text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.9);
  font-weight: bold;
}

/* Grid de imágenes */
.galeria-imagenes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  max-width: 1600px;
  margin: 0 auto;
}

/* Cada enlace de la imagen */
.galeria-imagenes a {
  display: block;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0,0,0,0.6);
  transition: transform 0.3s ease;
}

.galeria-imagenes a:hover {
  transform: translateY(-8px);
}

/* Las imágenes dentro del enlace */
.galeria-imagenes a img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 18px;
  display: block;
  cursor: zoom-in;
  transition: transform 0.4s ease;
}

.galeria-imagenes a img:hover {
  transform: scale(1.05);
}

/* ==================== IMAGEN GRANDE ==================== */
.lightbox {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.97);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 9999;
  padding: 20px;
}

.lightbox:target {
  opacity: 1;
  pointer-events: all;
}

.lightbox figure {
  text-align: center;
  max-width: 95%;
  max-height: 95vh;
}

.lightbox img {
  max-width: 100%;
  max-height: 85vh;
  border-radius: 20px;
  box-shadow: 0 30px 80px rgba(0,0,0,0.9);
}

.lightbox figcaption {
  color: #e10600;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 25px;
  text-shadow: 2px 2px 8px #000;
}

/* Botón cerrar lightbox */
.cerrar-lightbox {
  position: absolute;
  top: 30px;
  right: 40px;
  color: #e10600;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  background: rgba(0,0,0,0.6);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  z-index: 10000;
}

.cerrar-lightbox:hover {
  background: #e10600;
  color: white;
  transform: scale(1.1);
}

/* información F1 */
.info-f1 {
  padding: 100px 5%;
  background: linear-gradient(135deg, #750707 , #ffffff);
  text-align: center;
}

.info-f1 h2 {
  font-size: 2.8rem;
  margin-bottom: 70px;
  color: #ffffff;
}

.tarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  max-width: 1400px;
  margin: 0 auto;
}

.tarjeta {
  background: #000000;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  transition: transform 0.3s;
}

.tarjeta:hover {
  transform: translateY(-10px);
}

.tarjeta h3 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 1.7rem;
}

.tarjeta p, .tarjeta li {
  font-size: 1.1rem;
  line-height: 1.8;
}

/* ==================== PILOTOS DESTACADOS ==================== */
.pilotos-destacados {
  padding: 100px 5%;
  background: url('imagenes/fondo/fondo_negro.png') center/cover no-repeat fixed;
  text-align: center;
}

.pilotos-destacados h2 {
  font-size: 2.8rem;
  margin-bottom: 70px;
  color: #fdfdfde8;
}

.grid-pilotos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  max-width: 1500px;
  margin: 0 auto;
}

.piloto {
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0,0,0,0.6);
  transition: transform 0.4s ease;
}

.piloto:hover {
  transform: translateY(-15px);
}

.piloto img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.piloto h3 {
  font-size: 1.8rem;
  margin: 20px 0 10px;
  color: #000000;
}

.piloto p {
  padding: 0 20px 30px;
  font-size: 1.1rem;
  color: #000000;
}

/* ==================== Noticias ==================== */

.noticias {
  padding: 100px 5%;
  background: linear-gradient(135deg, #ffffff , #000000 );
  text-align: center;
}

.noticias h2 {
  font-size: 2.8rem;
  margin-bottom: 70px;
  color: #ffffff;
  text-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

/* Grid de noticias */
.contenedor-noticias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 40px;
  max-width: 1400px;
  margin: 0 auto;
}

/* Toda la tarjeta es un enlace  */
.noticia,
.noticia a {
  display: flex;
  background: #1a1e25;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0,0,0,0.7);
  transition: all 0.4s ease;
  text-decoration: none !important;
  color: inherit !important;
}

.noticia:hover {
  transform: translateY(-15px);
  box-shadow: 0 25px 60px rgba(225, 6, 0, 0.4);
  border: 2px solid #ffffff;
}

.noticia img {
  width: 280px;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s;
}

.noticia:hover img {
  transform: scale(1.08);
}

.texto-noticia {
  padding: 25px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.fecha {
  color: #ffffff;
  font-weight: bold;
  font-size: 0.95rem;
  margin-bottom: 10px;
}

/* TÍTULO */
.texto-noticia h3,
.noticia a h3,
.noticia h3 {
  font-size: 1.55rem;
  margin-bottom: 12px;
  color: #e10600 !important;
  text-decoration: underline;
  text-decoration-color: #e10600 !important;
  text-underline-offset: 5px;
}

.texto-noticia p {
  color: #ddd;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

/* ==================== calendarioa ==================== */
.calendario { 
  padding: 100px 5%; 
  background: url('imagenes/fondo/fondo_calendario.png') center/cover no-repeat fixed;
  text-align: center; 
}

.calendario h2 { 
  font-size: 2.rem; 
  color: #000000; 
  margin-bottom: 60px; 
}

.tabla-calendario { 
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr)); 
  gap: 15px; 
  max-width: 1200px; 
  margin: 0 auto; 
}

.carrera { 
  background: #1e2229; 
  padding: 20px; 
  border-radius: 15px; 
  font-size: 1.2rem; 
}

.carrera span { 
  background: #e10600; 
  color: white; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  display: inline-flex; 
  align-items: center; 
  justify-content: center; 
  margin-right: 15px; 
  font-weight: bold; 
}

.pasada { 
  opacity: 0.6; 
}

.proxima { 
  background: #330000; 
  border: 2px solid #e10600; 
  transform: scale(1.05); 
}

/* CUENTA ATRÁS ESTÁTICA */
.countdown-static {
  padding: 90px 5%;
  text-align: center;
  background: linear-gradient(135deg, #000000, #ffffff);
  color: white;
}

.countdown-static h3 {
  font-size: 2.2rem;
  color: #000000;
  margin-bottom: 30px;
}

.countdown-numbers {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 40px 0;
  flex-wrap: wrap;
}

.countdown-numbers > div {
  background: rgba(225,6,0,0.15);
  border: 2px solid #ffffff;
  border-radius: 18px;
  padding: 25px 30px;
  min-width: 140px;
}

.countdown-numbers span {
  display: block;
  font-size: 4.5rem;
  font-weight: 900;
  color: #ffffff;
  text-shadow: 0 5px 15px #000;
}

.countdown-static p {
  font-size: 1.5rem;
  color: #000000;
}

.countdown-static small {
  display: block;
  margin-top: 15px;
  color: #525151;
  font-size: 0.9rem;
}


/* ==================== FOOTER ==================== */
.footer {
  background: #000000;
  color: #ffffff;
  padding: 80px 5% 30px;
  margin-top: 0px;
  border-top: 1px solid #000000;
}

.footer-contenido {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 50px;
  margin-bottom: 50px;
}

.footer-logo img {
  height: 50px;
  margin-bottom: 15px;
}

.footer-logo p {
  font-size: 0.95rem;
  line-height: 1.6;
  color: #fffdfd;
}

.footer-enlaces h4,
.footer-redes h4 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.footer-enlaces ul {
  list-style: none;
}

.footer-enlaces a {
  color: #fffcfc;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  transition: 0.3s;
}

.footer-enlaces a:hover {
  color: #e10600;
  padding-left: 8px;
}

.redes-sociales {
  display: flex;
  gap: 20px;
}

.redes-sociales a img {
  width: 38px;
  height: 38px;
  transition: transform 0.3s;
}

.redes-sociales a:hover img {
  transform: scale(1.2);
}

.footer-copy {
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid #222;
  font-size: 0.9rem;
  color: #ffffff;
}

