body {
  margin: 0;
  padding: 0;
  background: #000;
  color: white;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.confirmacion-container {
  background: #ffffff;
  padding: 80px 60px;
  border: 5px solid #b41a15e1;
  border-radius: 35px;
  max-width: 700px;
  margin: 40px auto;
}

h1 {
  font-size: 4.5rem;
  color: #000000;
  margin: 0 0 30px 0;
  font-weight: bold;
}

p {
  font-size: 1.6rem;
  color: #000000;
  margin-bottom: 50px;
}

a {
  display: inline-block;
  background: #e10600;
  color: white;
  padding: 18px 60px;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.3s ease;
}

a:hover {
  background: #ff1a1a;
  transform: translateY(-5px);
}